@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-yle: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-yle: normal;
    font-display: swap;
}


 body{
    width: 1400px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    background-color: #EFE6E4;
  }

.header {
    width:1400px;
    background-image:url(fon_header.jpg);
    height:715px;
    }

.container1{
    padding-top: 36px;
    display: flex;
    juify-content: space-between;
    align-items: center;
    padding-left:100px;
    padding-right: 115px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    }

.menu-item{
        li-yle-type: none;
        display: inline;
      }

.menu a{
    text-decoration:none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 26px;
    color: #533738;
    }

.menu a:link:active {
    color:red;
    }
    
.promo-title {
    width: 534.02px;
    height: 186px;
    margin-left: 184.08px;
    margin-top: 152px;
    margin-bottom:0;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
    }

.promo-text {
    width: 493.57px;
    height: 90px;
    margin-left: 184.08px;
    margin-top: 24px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    }

.promo-button {
    margin-left: 183.01px;
    margin-top: 25px;
    padding: 25px 65.88px 24px 67.91px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: #CC8B86;
    color: #533738;
    }

.title-about {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    width: 100%;
    }

.about-text{
    display: inline;
    width: 528;
    height:324;
}

.about-main {
    display :flex;
    gap:61.69px;
    margin-left: 183px;
    margin-right: 181px;
}

.achievements {
    height: 273px;
    background-color: #8D7370;
    display: grid;
    grid-template-columns: 190px 178px 132px;
    text-align: center;
    gap:268px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 181px;
    margin-top: 10px;
  }

.achievements span{
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    }

.works {
    margin-left: 100px;
    }

.title-works{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    }

.work-text{
    display: inline-block;   
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-left: 553px;
    color: #533738;
    }

.team {
    height: 998px;
    background-color: #E2C4BA;
   }

.team-title {
    padding-top: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    }

.team-photos {
    display: grid;
    }

.team-description{
    li-yle-type: none; 
    display: flex;
    gap:38px;
    margin-left: 181px;
    margin-right: 182px;
    padding:0;
}

.title-workdescription{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    }

.workdescription{
    li-yle-type: none;
    text-align: center;
    display:flex;
    padding: 0;
    gap: 20px;
    margin-left: 99px;
    margin-right: 100px;
}

.digits{
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    display: inline-block;
    background: #8D7370;
    text-align: center;
    border-radius: 50%;  
    padding: 20px 26px 20px 26px;
}

.arrow{
    background: #CC8B86;
    border-radius: 50%; 
    padding: 32px 20px 32px 20px;
  }

.arrow-right{
    transform: rotate(180deg);
}

.rewards img{
    margin-bottom: 17px;
}

.rewards-table{
    display: grid;
    grid-template-columns: 134px 407px 408px 134px;
    gap:20px;
    margin-left: 181px;
}

.title-rewards{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    }

.reque{
    display: grid;
    grid-template-columns: 181px 507px 590px 101px;
    gap:20px;
    background-color: #8D7370;
}

.title-reque{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    }

.form-reque {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6;
    }

.form-reque input{
    border:#533738;  
    border-bottom:  1px  solid #FFFFFF;
    background: transparent;
    width: 508px;
    height: 35px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.form-reque input::placeholder{
    color: #FFFFFF;
}

.button-submit {
 padding: 25px 65.88px 24px 67.91px;
font-weight: 500;
font-size: 20px;
line-height: 24px;
background-color: #CC8B86;
border-width: 0;
}

footer{
    height: 30px;
    background-color: #EFE6E4;
     font-family: Montsrrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    vertical-align: middle;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 100px;
}

.footer-phone{
   margin-right: 42px;
}

.footer-address{
margin-right: 379px;}